<!DOCTYPE html>
<html>
  <head>
    <title>MTMHSS</title>
    <link rel='stylesheet' href='/css/materialize.css' />
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script language="javascript" src="/js/materialize.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script language="javascript" src="/javascripts/main.js"></script>

      <!--<script language="javascript" src="/jquery.js"></script>-->
  </head>
  <body>
  <div class="col s12">
    {{{body}}}
  </div>
  </body>
</html>
